.poat {
    border: 3px solid rgba(232, 232, 232, 1);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    /*text-shadow: 1px 1px #333;*/
    -webkit-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 0.5);
    box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 0.5);
    background-color: wheat;
}

body,
html {
    height: 100%;
    background-color: #333;
}

a{
    color: #212529;
}